.main {
  aspect-ratio: 16/9;
  height: 80%;
  border-radius: 4px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
  object-fit: fill;
  border-radius: 0.5rem 0.5rem 0 0;
}

.title {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title h2 {
  cursor: pointer;
  font-style: none;
  text-decoration: none;
}
